################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aoc/.vs/aoc
/aoc/bin/Debug/net8.0
/aoc/obj
/aoc/.vs/ProjectEvaluation
